{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.

    @template block_gradingdashboard/block
    @copyright  2026 M. AFZAL RIAZ
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<div class="block-gradingdashboard-container">
    {{#hascourses}}
        <div class="block-gradingdashboard-list">
            {{#courses}}
                {{> block_gradingdashboard/course_card}}
            {{/courses}}
        </div>
    {{/hascourses}}
    {{^hascourses}}
        <div class="block-gradingdashboard-empty">
            <div class="block-gradingdashboard-empty-icon mb-3">
                <span aria-hidden="true">🎉</span>
            </div>
            <p class="mb-0">{{#str}} emptyqueue, block_gradingdashboard {{/str}}</p>
        </div>
    {{/hascourses}}
</div>

{{#js}}
require(['block_gradingdashboard/tree', 'jquery'], function(Tree, $) {
    Tree.init();
    // Initialise Bootstrap 5 tooltips safely if tooltip plugin is loaded.
    if ($.fn.tooltip) {
        $('[data-bs-toggle="tooltip"]').tooltip({html: true});
    }
});
{{/js}}
